input::placeholder {
  color: #90949c;
}

.btn {
  border-radius: 1px;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
  }
  &:active {
    transform: scale(0.98);
    transition: 0.3s;
  }
}

.btn_signup {
  color: #fff;
  background-color: #40b73b;
  border-radius: 3px;
  text-decoration: none;
}

.user_header {
  width: 100%;
  height: 8.3rem;
  padding: 2rem;
  border-bottom: solid #113781 1px;
  background: linear-gradient(#4e69a2, #3b5998);

  input[type="email"] {
    height: 2.3rem;
    margin-right: 2rem;
    border: solid #000 1px;
  }
  input[type="password"] {
    height: 2.3rem;
    margin-right: 1rem;
    border: solid #000 1px;
  }
  input[type="submit"] {
    background-color: #4167b0;
    color: #fff;
    border: solid #28487b 1px;
  }
}

.user_header_container {
  margin: 0 auto;
  width: 98rem;
  position: relative;

  .header_logo {
    color: #fff;
    font: tahoma;
    font-size: 3.3rem;
    font-weight: bold;
  }
  .signin_header_logo {
    float: left;
  }
  .header_login {
    float:right;
    color: #fff;
    font-size: 1.2rem;
  }
  .btn_signup {
    width: 16rem;
    margin-left: 1rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 20%;

      &:hover {
        background-color: darken(#40b73b, 5%);
      }
      &:active {
        background-color: darken(#40b73b, 10%);
    }
  }
}

.main {
  min-height: 100vh;
  background-color: $bg_color;
  .btn_signup {
    width: 20rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;

    &:hover {
      background-color: darken(#40b73b, 5%);
    }
    &:active {
      background-color: darken(#40b73b, 10%);
    }
  }
}

.main_container {
  width: 40rem;
  margin: 0 auto;
  padding: 2.5rem;

  h1 {
    width: 40rem;
    margin: 0;
    color: #1d2129;
    font-size: 4rem;
  }
  h4 {
    margin: 0  0 7px 0;
    color: #4b4f56;
    font-size: 2rem;
    font-weight: normal;
  }
  p {
    margin: 1rem 0 0 0;
    color: #90949c;
    font-weight: bold;
  }
  input[type="text"] {
    width: 19.3rem;
  }
  input[type="email"], input[type="password"] {
    width: 40rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 3.3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    border: solid #bdc7d8 1px;
    border-radius: 5px;
  }
  select {
    height: 2.5rem;
    border: solid #bdc7d8 1px;
  }
  input[type="submit"] {
    width: 19.3rem;
    height: 4rem;
    margin-top: 3rem;
    background: linear-gradient(#67ae55, #578843);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    border: solid 1px;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
    &:active {
      margin-top: 3.1rem;
    }
  }
  .form_name {
    width: 40rem;
  }
  #user_family_name {
    margin-right: 8px;
  }
}

// ユーザー登録確認ページ
.confirm {
  min-height: 100vh;
  padding-top: 3rem;
  background-color: $bg_color;
}

.confirm_container {
  width: 38rem;
  margin: 0 auto;
  h3 {
    margin: 0 0 1rem 0;
  }
  .user_info {
    width: 50%;
  }
  .user_info_value {
    width: 50%;
  }
  .confirm_button {
    text-align: center;
  }
}

// ログインページ
.signin_main_container {
  padding: 5rem;
}

.signin_form {
  width: 61.5rem;
  margin: 3rem auto;
  padding: 3.7rem;
  background-color: #fff;
  text-align: center;
  border: 1px solid #dddfe2;
  border-radius: 3px;

  h4 {
    margin: 0 0 2rem 0;
    font-weight: normal;
  }
  input[type="email"], input[type="password"] {
    width: 30.4rem;
    height: 3.3rem;
    margin-bottom: 1.4rem;
    padding: 1rem;
    font-size: 1.4rem;
    border: solid #bdc7d8 1px;
  }
  .btn_login {
    width: 30.4rem;
    padding: 1.1rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #4167b0;
    border-radius: 3px;
    &:hover {
      background-color: darken(#4167b0, 5%);
    }
    &:active {
      background-color: darken(#4167b0, 10%);
    }
  }
  .signin_form_container {
    width: 30.4rem;
    margin: 0 auto;
  }
  .title_border {
    margin: 2rem 0;
    color: #4b4f56;
    font-size: 1.3rem;
    display: flex;
  	align-items: center;
  }
  .title_border:before,
  .title_border:after {
    content: "";
  	flex-grow: 1;
  	height: 1px;
  	background: #ccd0d5;
  	display: block;
  }
  .title_border:before {
    margin-right: 2rem;
  }
  .title_border:after {
    margin-left: 2rem;
  }
}

// ユーザー詳細ページ
.top_header {
  width: 100%;
  height: 4.3rem;
  background-color: $fn_color;
  border-bottom: 1px solid #28487b;
  position: fixed;
  top: 0;
}

.header_menu {
  padding: 0.8rem;
  text-align: right;

  a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  li {
    margin-right: 1rem;
    display: inline-block;
  }
}

.top_header_icon {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.7rem;
}

.user_main {
  min-height: 100vh;
  margin: 0;
  padding-top: 10rem;
  background-color: $bg_color;
}

.user_main_container {
  width: 100rem;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}

.user_head {
  display: flex;
  align-items: center;

  .user_head_name {
    font-size: 2.5rem;
  }
}

.prof_user_icon {
  width: 15rem;
  height: 15rem;
  margin-right: 1.5rem;
  font-size: 14rem;
}

.prof_user_icon_a {
  width: 15rem;
  height: 15rem;
  margin-right: 1.5rem;
  font-size: 14rem;

  &:hover {
    opacity: 0.7;
  }
}

.prof_image {
  margin-right: 0.5rem;
  color: #a5d95c;
  font-size:2rem;
}

.user_container {
  margin-top: 3rem;
}

.has_images {
  width: 35rem;
  height: 100%;
  margin-right: 1.5rem;
  padding: 1.5rem;
  background-color: #fff;
  border: solid 1px $border_color;
  border-radius: 0.4rem;
}

.has_image {
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
}

.has_images_list {
  display: flex;
  flex-wrap: wrap;
}

.photos {
  margin-bottom: 1.5rem;
}

.user_container {
  display: flex;
}

.prof_entries {
  padding-bottom: 10rem;
}

.user_post {
  color: $sub_font;
  font-size: 1.3rem;
  font-weight: bold;
}

.post {
  width: 54rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: solid 1px $border_color;
  border-radius: 0.4rem;

  .parent_entry {
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-bottom: 1px solid $border_color;
  }
  .entry_icon {
    margin-right: 1rem;
  }
  .post_name {
    color: $fn_color;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .created_at {
    color: $sub_font;
    font-size: 1.2rem;
  }
  .entry_content {
    margin-bottom: 0.7rem;
  }
  .good_user_name {
    margin-right: 1rem;
    color: $sub_font;
    font-size: 1.3rem;
  }
  .good_btn_after {
    color: $sub_font;
    text-align: center;
  }
  .good_btn_before {
    color: #3e81fb;
    text-align: center;
  }
  .child_entry {
    padding: 1.5rem;
  }
  .child_entry_form {
    padding: 1.5rem;
  }
}

.post_head {
  margin-bottom: 0.7rem;

  .post_head_left {
    float: left;
    display: flex;
  }
  .post_head_right {
    float: right;
  }
  a:hover {
    text-decoration: underline;
  }
}

.good_btn {
  padding: 1rem 4rem;

  &:hover {
    background-color: #f2f3f5;
  }
}

.post_edit_or_delete {
  a {
    color: $icon_color;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}

.good_button {
  padding: 1rem;
  border-top: 1px solid $border_color;
  text-align: center;
}

.good_users {
  display: flex;
  padding-bottom: 0.7rem;

  a:hover {
    text-decoration: underline;
  }
}

.good_user_icon {
  margin-right: 0.5rem;
}

.child_entry {

  a:hover {
    text-decoration: underline;
  }
  .child_entry_head {
    display: flex;
    align-items: center;
  }
  .child_hed_set {
    padding: 0.5rem 0.8rem;
    display: flex;
    background-color: #f2f3f5;
    border-radius: 5rem;
  }
  .child_icon {
    margin-right: 1.5rem;
  }
  .child_name {
    margin-right: 1rem;
    font-weight: bold;

    a {
      color: $fn_color;
      font-size: 1.5rem;
    }
  }
  .child_content {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  .rep_good_after {
    color: #1b79f0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .rep_good_before {
    color: $fn_color;
    font-size: 1.3rem;
  }
}

.child_entry_good_view {
  display: flex;
  align-items: center;
  color: $sub_font;
  font-size: 1rem;
}

.child_form_head {
  display: flex;
  align-items: center;

  .form_icon {
    margin-right: 1rem;
  }

  input {
    width: 45rem;
    padding: 0.7rem;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 3rem;
  }
}

.child_entry_edit_or_delete {
  a {
    color: $icon_color;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}

// 編集画面

.now_user_icon {
  img {
    max-width: 30rem;
    border-radius: 3rem;
    border: 1px solid $border_color;
  }
}

.prof_edit_icon {
  font-size: 30rem;
}
